#Gitignore for latex
*.ser
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.lol
*.ps
*.run.xml
*.bcf
*.exe
data/
*.msi
*.zip
*.rar
*.wixobj
*.wixpdb
*.gz
*.run
*.nupkg
*.md
*.pyd
*.dll
appdata/
*.ignore
*.bak*

/install_folder/
/code/Prototype/Client/target


# Created by https://www.gitignore.io/api/intellij,java

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

demo/master/.idea/*
*.pyc

# User-specific stuff:
code/Prototype/.idea/
code/Prototype/.idea/tasks.xml

# Sensitive or high-churn files:
code/Prototype/.idea/dataSources/
code/Prototype/.idea/dataSources.ids
code/Prototype/.idea/dataSources.xml
code/Prototype/.idea/dataSources.local.xml
code/Prototype/.idea/sqlDataSources.xml
code/Prototype/.idea/dynamic.xml
code/Prototype/.idea/uiDesigner.xml

# Gradle:
code/Prototype/.idea/gradle.xml
code/Prototype/.idea/libraries

# Mongo Explorer plugin:
code/Prototype/.idea/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:
/.idea/
# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### Intellij Patch ###
# Comment Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

# *.iml
# modules.xml
# code/Prototype/.idea/misc.xml 
# *.ipr


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*