<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
   <Fragment>
   <Property Id='Unzipper'>C:\Windows\system32\cmd.exe</Property>
      <CustomAction Id='FooAction' Property='Unzipper' ExeCommand='&qout; echo hello &amp; exit &qout;' Execute='deferred'
                    Return='check'/>
   </Fragment>
</Wix>